/*	==========================================================================
	Color
	========================================================================== */

	@import "mixins";

	a {
		/*link-colors($normal, $hover, $active, $visited, $focus)*/
	    @include link-colors($purple08, $purple07, $purple07, $purple08, $purple08);
	    transition: all .23s ease-in-out;
	}

	html,
	body,
	button,
	input,
	select,
	textarea {
		color: $purple08;
	}

	html {
		border-top: .328em solid $purple08;
	}

	/* classes
	---------------- */
	.u-lHeader { /* background image in icons.scss */
	}

	#u-Masthead {
		text-decoration: none;
	}

	.ac-NavAnchor {
		background: $purple08;
		text-decoration: none;
	}

	.ac-NavAnchor--menu,
	.ac-NavAnchor--top,
	.u-VCard--person__url {
		/*link-colors($normal, $hover, $active, $visited, $focus)*/
	    @include link-colors(white, $purple05, $purple03, white, $purple05);
	    border-radius: 0 0 3px 3px;
	}

	.ac-NavAnchor--top {
	    border-radius: 3px 3px 3px 3px;
	}

	.u-NavSite {
		border-right: 0px;
	}

	.u-lContent,
	.u-lAside {
		border-bottom: .09em solid $grey03;
	}

	/*  Figure  */

	.u-Figure__image {
		border: .09em solid $grey03;
	}

	.u-lFooter {
		background: $purple07;
		color: white
	}

	.u-VCard {
		border-bottom: .09em solid $purple05;
	}

	/* gruniticons */

	.forest {
		background-repeat: repeat-x;
		background-position-x: center
	}

	.icon {
		transition: none;
		background-repeat: no-repeat;
	}

	.icon-Menu--top,
	.icon-Menu,
	.icon-Logo {
		transition: none;
		background-repeat: no-repeat;
	}

	.icon-Menu--top,
	.icon-Menu {
		background-position: center center;
	}

	.u-lHeader .icon-Logo {
		background-position: top center;
	}

	/* end grunticons */

	@media screen and (min-width: 38em) {

		html {
			border-top: 0;
		}

		.u-lContent,
		.u-lAside {
			border-bottom: 0px;
		}

		.u-NavSite {
			border-right: 1px solid $purple02;
		}

	}