/*	==========================================================================
	Color
	========================================================================== */

	@import "imports";

	a {
		/*link-colors($normal, $hover, $active, $visited, $focus)*/
	    @include link-colors($purple08, $purple07, $purple07, $purple08, $purple08);
	    transition: all .23s ease-in-out;
	}

	html,
	body,
	button,
	input,
	select,
	textarea {
		color: $purple08;
	}

	/* classes
	---------------- */

	#u-Masthead {
		text-decoration: none;
	}

	.ac-NavAnchor {
		background: $purple08;
		text-decoration: none;
	}

	.ac-NavAnchor--menu,
	.ac-NavAnchor--top,
	.u-VCard--person__url {
		/*link-colors($normal, $hover, $active, $visited, $focus)*/
	    @include link-colors(white, $purple05, $purple03, white, $purple05);
	    border-radius: 0 0 3px 3px;
	}

	.ac-NavAnchor--top {
	    border-radius: 3px 3px 3px 3px;
	}

	.u-NavSite {
	}

	.u-lContent,
	.u-lAside {
		border-bottom: .09em solid $grey03;
	}

	.u-Masthead {
		border-bottom: .107em solid $grey03
    }
	/*  Figure  */

	.u-Figure__image {
		border: .09em solid $grey03;
	}

	.u-lFooter {
		background: $purple07;
		color: white
	}

	.u-VCard {
		border-bottom: .09em solid $purple05;
	}

	/*  Menu  */

	.art .u-NavSite__item--art .u-NavSite__item,
	.bio .u-NavSite__item--about .u-NavSite__item,
	.design .u-NavSite__item--design .u-NavSite__item { 
		/*link-colors($normal, $hover, $active, $visited, $focus)*/
	    @include link-colors($purple07, $purple08, $purple08, $purple07, $purple08);
	}

	/* gruniticons */

	.forest {
		background-repeat: repeat-x;
		background-position: bottom center;
	}

	.icon {
		transition: none;
		background-repeat: no-repeat;
	}

	.icon-Menu--top,
	.icon-Menu,
	.icon-Logo {
		transition: none;
		background-repeat: no-repeat;
	}

	.icon-Menu--top,
	.icon-Menu {
		background-position: center center;
	}

	/* end grunticons */

	@media screen and (min-width: 38em) {



		.u-lContent,
		.u-lAside {
			border-bottom: 0px;
		}

		.u-NavSite {
		}

	}
