$blue00: #073763;
$blue01: #0b5394;
$blue02: #3d85c6;
$blue03: #6fa8dc;
$blue04: #9fc5e8;
$blue05: #5D7583;
$purple01: #E6E6F3;
$purple02: #D8D9ED;
$purple03: #C2C3E2;
$purple04: #B4AFD7;
$purple05: #A29FCE;
$purple06: #8D90C7;
$purple07: #696DB2;
$purple08: #303251;
$grey00: #474747;
$grey03: #ccc;

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $focus {
    &:focus {
      color: $focus;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
    }
  }
  @if $active {
    &:active {
      color: $active;
    }
  }
}

@mixin v-pixel-fallback ( $property, $rems, $keyword: null, $vertical-radius: false, $important: false ) {

	@if $important {
		$important : ' !important';
	}
	@else {
		$important : '';
	}
	
	@if $property == 'border-radius' {
		@include border-radius(rem-to-pixel($rems));
		@include border-radius($rems);
	}
	
	@elseif $property == 'font-size' {
		
		@if $keyword { 
			#{$property}: $keyword#{$important}; 
		}
		@else { 
			#{$property}: rem-to-pixel($rems, $keyword)#{$important};
		}
	
		#{$property}: #{$rems}#{$important};
	
	}
	
	@else {
		#{$property}: rem-to-pixel($rems)#{$important};
		#{$property}: #{$rems}#{$important};
	}
	
	
}

@function calculate-pixels ( $rems ) {
	
	@if type-of($rems) != 'number' {

		// If there is more than one value, create a list and perform equations on each value
		
		// Create an empty list that we can dump values into
		$values: ();
	
		@each $value in $rems {
			$values: append($values, pixels($value) );
		}
	
		// Return the property and its list of converted values
		@return $values;
		
	}
	@else {
		@return pixels($rems);
	}
	
}

@function rem-to-pixel ( $rems, $keyword: null ) {
	
	@if $keyword { 
		@return $keyword 
	}
	@else { 
		@return calculate-pixels($rems);
	}

}

@function pixels ( $rems ) {
	
	$base-font-multiplier : 1;
	@if type-of($rems) != 'number' {
		@return $rems;
	}
	@else {
		@if $rems == 0 { 
			@return 0;
		}
		@elseif unit($rems) == 'rem' {
			@return strip-units($rems) * $base-font-multiplier * 16px
		}
		@else {
			@return $rems;
		}
	}
	
}

@function strip-units($number) {
	
	@if type-of($number) != 'number' {
		@return $number;
	}
	@else {
		@return $number / ($number * 0 + 1);
	}
	
}