/*	==========================================================================
	Typography
	========================================================================== */

	@import "compass/css3";
	@import "mixins";

	/* classes
	---------------- */

	html,
	body,
	button,
	input,
	select,
	textarea {
		font-size: 107%;
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
		font-weight: 300;
		font-style: normal;
		line-height: 1.563;
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', serif;
		font-weight: 700;
		font-style: normal;
		line-height: 1.25;
	}
	h1, h2 {
		@include v-pixel-fallback ('font-size', 1.563rem);
	}
	h3 {
		@include v-pixel-fallback ('font-size', 1.25rem);
	}
	h4 {
		@include v-pixel-fallback ('font-size', 1rem);
	}
	hr {
	}
	p {
		margin-bottom: 1.563em;
	}
	ul, ol {
		margin: 0 0 1.563em 3.052em;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: decimal;
	}
	li > ul,
	li > ol {
		margin-bottom: 0;
		margin-left: 1.563em;
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 1.563em 1.563em;
	}
	b, strong {
		font-weight: bold;
	}
	dfn, cite, em, i {
		font-style: italic;
	}
	blockquote {
		margin: 0 1.563em;
	}
	address {
		margin: 0 0 1.563em;
	}
	pre {
		overflow: auto;
		max-width: 100%;
	}
	code, kbd, tt, var {
	}
	abbr, acronym {
		cursor: text;
	}
	mark, ins {
		text-decoration: none;
	}
	sup,
	sub {
		height: 0;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup {
		bottom: 1ex;
	}
	sub {
		top: .5ex;
	}
	small {
		font-size: 75%;
	}
	big {
		font-size: 125%;
	}
	table {
		margin: 0 0 1.563em;
		width: 100%;
	}
	th {
		font-weight: 700;
	}
	button,
	input,
	select,
	textarea {
		font-size: 100%; /* Corrects font size not being inherited in all browsers */
		margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
		vertical-align: baseline; /* Improves appearance and consistency in all browsers */
		*vertical-align: middle; /* Improves appearance and consistency in all browsers */
	}
	button,
	input {
		line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	}
	button,
	html input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		border: 1px solid #ccc;
		border-color: #ccc #ccc #bbb #ccc;
		border-radius: 3px;
		background: #e6e6e6;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
		color: rgba(0, 0, 0, .8);
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 1;
		padding: .6em 1em .4em;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	}
	button:hover,
	html input[type="button"]:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover {
		border-color: #ccc #bbb #aaa #bbb;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}
	button:focus,
	html input[type="button"]:focus,
	input[type="reset"]:focus,
	input[type="submit"]:focus,
	button:active,
	html input[type="button"]:active,
	input[type="reset"]:active,
	input[type="submit"]:active {
		border-color: #aaa #bbb #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
		padding: 0; /* Addresses excess padding in IE8/9 */
	}
	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
		-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
		-moz-box-sizing:    content-box;
		box-sizing:         content-box;
	}
	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}
	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	textarea {
		color: #666;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		color: #111;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"] {
		padding: 3px;
	}
	textarea {
		overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
		padding-left: 3px;
		vertical-align: top; /* Improves readability and alignment in all browsers */
		width: 98%;
	}

	/* classes
	---------------- */

	.u-Masthead__siteName {
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
		font-weight: 700;
		font-style: normal;
		line-height: .21;
		@include v-pixel-fallback ('font-size', 1.563rem);
	}

	.u-Masthead__siteDescription,
	.legal {
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
		font-weight: 300;
		font-style: normal;
		@include v-pixel-fallback ('font-size', .8rem);
	}

	.legal {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.u-pageTitle {
		line-height: 1.188;
	}

	.u-PostsList {
		list-style: none;
	}

	/*  Icons  */

	#u-Masthead:before {
		@include v-pixel-fallback ('font-size', 2.441rem);
	}

	.u-VCard--person__url:before,
	.u-VCard--person__item--socialTwitter:before,
	.u-VCard--person__item--socialRdio:before,
	.u-VCard--person__item--socialSoundCloud:before,
	.u-VCard--person__item--socialGitHub:before {
		@include v-pixel-fallback ('font-size', 1.953rem);
	}

	/*  Menu  */

	.ac-NavAnchor {
		font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', serif;
		/*font-family: 'Ideal Sans A', 'Ideal Sans B' sans-serif;*/
		font-weight: 700;
		font-style: normal;
		@include v-pixel-fallback ('font-size', 1.25rem);
	}

	.u-NavSite {
		font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', serif;
		/*font-family: 'Ideal Sans A', 'Ideal Sans B' sans-serif;*/
		font-weight: 700;	
		font-style: normal;
		@include v-pixel-fallback ('font-size', 1.953rem);
	}

	.u-NavSite__level {
		list-style: none;
	}

	/*  Figure  */

	.u-Figure__caption,
	.u-asideContent--categories,
	.u-pageLink--external,
	.u-pageDate {
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
		font-weight: 300;
		font-style: normal;
		@include v-pixel-fallback ('font-size', .8rem);
	}

	.u-pageLink--external {
		@include v-pixel-fallback ('font-size', .833rem);		
	}

	.u-asideContent--categories	{
		text-transform: capitalize;
	}

	/*	VCard  */

	.u-VCard--person__item,
	.u-VCard--person__url {
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
		font-weight: 300;
		font-style: normal;
		@include v-pixel-fallback ('font-size', .8rem);
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.u-VCard--person__item--locality:after {
		content: ",";
	}

	/*	Navigation
		========================================================================== */

	@media screen and (min-width: 38em) {

		/*  Menu  */

		.u-NavSite,
		.u-asideTitle {
			@include v-pixel-fallback ('font-size', 1.25rem);
		}
	}