<div class="u-lFooter">
	<footer role="contentinfo">
		<div class="vcard u-VCard u-VCard--person" itemscope itemtype="http://schema.org/Person">

			<a rel="me" class="url u-VCard--person__url" href="http://jeffmacaluso.com/" title="website" itemprop="url" >
			<div class="fn n u-VCard--person__fn" itemprop="name">
				<b class="given-name  u-VCard--person__item u-VCard--person__item--givenName">Jeff</b>
				<!-- <b class="additional-name  u-VCard--person__item u-VCard--person__item--additionalName">Jeff</b> -->
				<b class="family-name  u-VCard--person__item u-VCard--person__item--familyName">Macaluso</b>
			</div>
			</a>

			<div class="title u-VCard--person__title" itemprop="jobtitle">
				<b class="u-VCard--person__item u-VCard--person__item--webDesigner">Web designer</b>
				<b class="u-VCard--person__item u-VCard--person__item--artist">artist</b>
			</div>

			<div class="adr u-VCard--person__adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<!-- <b class="street-address u-VCard--person__item u-VCard--person__item--streetAddress"></b> 
				<b class="post-office-box u-VCard--person__item u-VCard--person__item--poBox"></b> -->
	            <b class="locality u-VCard--person__item u-VCard--person__item--locality" itemprop="addressLocality">Beacon</b> 
	            <abbr class="region u-VCard--person__item u-VCard--person__item--region" title="New York" itemprop="addressRegion">NY</abbr> 
				<!-- <b class="postal-code u-VCard--person__item u-VCard--person__item--postalCode"></b>
				<b class="country-name u-VCard--person__item u-VCard--person__item--countryName"></b> -->
			</div>

	        <ul class="u-VCard--person__info">
				<!-- <li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--tel">
					<a href="tel:" class="tel u-VCard--person__item u-VCard--person__item--tel" title="phone number"></a>
				</li>
				<li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--email">
					<a href="mailto:" class="email u-VCard--person__item u-VCard--person__item--email" title="email"></a>
				</li> -->
				<li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--socialTwitter">
					<a rel="me" class="url u-VCard--person__item u-VCard--person__item--socialTwitter" href="https://twitter.com/sjmaq" title="twitter">Twitter</a>
				</li>
				<li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--socialRdio">
					<a rel="me" class="url u-VCard--person__item u-VCard--person__item--socialRdio" href="http://rdio.com/people/macalusosj" title="Rdio">Rdio</a>
				</li>
				<!-- <li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--website">
					<a rel="me" class="url u-VCard--person__item u-VCard--person__item--website" href="http://jeffmacaluso.com/" title="website">jeffmacaluso.com</a>
				</li> -->
				<!-- <b class="category u-VCard--person__item u-VCard--person__item--category">web designe</b>
				<b class="category u-VCard--person__item u-VCard--person__item--category">artis</b> -->
			</ul>
		</div>

		<p class="legal">2013 Jeff Macaluso. All work shown is the property of it's respective owner.</p>
	</footer>
</div>