<div class="u-lFooter">
	<footer role="contentinfo">
		<div class="vcard u-VCard u-VCard--person" itemscope itemtype="http://schema.org/Person">

			<a rel="me" class="url u-VCard--person__url icon-Logo" href="http://jeffmacaluso.com/" title="website" itemprop="url">
			<div class="fn n u-VCard--person__fn" itemprop="name">
				<b class="given-name  u-VCard--person__item u-VCard--person__item--givenName">Jeff</b>
				<b class="family-name  u-VCard--person__item u-VCard--person__item--familyName">Macaluso</b>
			</div>

			<div class="title u-VCard--person__title" itemprop="jobtitle">
				<b class="u-VCard--person__item u-VCard--person__item--webDesigner">Web designer</b>
				<b class="u-VCard--person__item u-VCard--person__item--artist">artist</b>
			</div>
			<div class="adr u-VCard--person__adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	            <b class="locality u-VCard--person__item u-VCard--person__item--locality" itemprop="addressLocality">Beacon</b> 
	            <abbr class="region u-VCard--person__item u-VCard--person__item--region" title="New York" itemprop="addressRegion">NY</abbr> 
			</div>
			</a>

	        <ul class="u-VCard--person__info">
				<li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--socialTwitter">
					<a rel="me" class="url u-VCard--person__item u-VCard--person__item--socialTwitter icon icon-Social--twitter" href="https://twitter.com/sjmaq" title="twitter"><b class="u-lVisuallyHidden">Twitter</b></a>
				</li>
				<li class="u-VCard--person__itemContainer u-VCard--person__itemContainer--socialGitHub">
					<a rel="me" class="url u-VCard--person__item u-VCard--person__item--socialGitHub icon icon-Social--github" href="https://github.com/macalusosj" title="Git Hub"><b class="u-lVisuallyHidden">Git Hub</b></a>
				</li>
			</ul>
		</div>

		<p class="legal">2018. All work shown is the property of its respective owner.</p>
	</footer>
</div>

<script type="text/javascript" src="{{ site.url }}/js/build/global.min.js"></script>
