<hr />
<div class="u-lFooter">
	<footer role="contentinfo">

		<div class="u-VCard u-VCard--site">
			<a class="fn org u-VCard--site__fn u-VCard--site__org" href="/samacaluso/biochemistry2/">Biochemistry at Vassar College</a>
			<div class="adr u-VCard--site__adr"> 
				<b class="street-address u-VCard--site__item u-VCard--site__item--streetAddress">124 Raymond <abbr title="Avenue">Ave.</abbr></b> 
				<b class="post-office-box u-VCard--site__item u-VCard--site__item--poBox">Box N-258</b>
		        <b class="locality u-VCard--site__item u-VCard--site__item--locality">Poughkeepsie</b> 
		        <abbr class="region u-VCard--site__item u-VCard--site__item--region" title="New York">NY</abbr> 
				<b class="postal-code u-VCard--site__item u-VCard--site__item--postalCode">12604-N-258</b>
			</div>
		    <ul class="u-VCard--site__info">
		        <li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--office">
		          	<b class="u-VCard--site__label u-VCard--site__label--office">Office</b>
					<b class="u-VCard--site__item u-VCard--site__item--office">Main</b>
				</li>
				<li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--tel">
					<a href="tel:+18454377000" class="tel u-VCard--site__item u-VCard--site__item--tel" title="phone number">(845) 437-7000</a>
				</li>
				<li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--contact">
					<a class="u-VCard--site__item u-VCard--site__item--contact" href="http://www.vassar.edu/contact.html?n=Biochemistry+&#38;e=" title="Contact Biochemistry">Contact</a>
				</li>
			</ul>
		    <ul class="u-VCard--site__siteList">
				<li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--departments"><a class="u-VCard--site__item u-VCard--site__item--departments" href="http://www.vassar.edu/academic/departments.html">Departments</a></li>
				<li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--admissions">
					<a class="u-VCard--site__item u-VCard--site__item--admissions" href="http://admissions.vassar.edu/">Admissions</a>
				</li>
				<li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--infoSite">
					<a class="u-VCard--site__item u-VCard--site__item--infoSite" href="http://info.vassar.edu/">Infosite</a>
				</li> 
		        <li class="u-VCard--site__itemContainer u-VCard--site__itemContainer--college">
					<b class="u-VCard--site__item--college__copyright">&#169;</b>
					<a class="u-VCard--site__item--college__name" href="http://www.vassar.edu/">Vassar College</a></b>
				</li>
			</ul>
		</div>

		<p class="legal">2013 Jeff Macaluso. All work shown is the property of it's respective owner.</p>
	</footer>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/global-ck.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src='//www.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>