<ul class="u-NavSite__level u-NavSite__level1" role="menu">
  <li class="u-NavSite__itemContainer u-NavSite__item--design" role="menuitem">
    <a class="u-NavSite__item" href="{{ site.url }}/design.html">Design</a>
  </li>
  <li class="u-NavSite__itemContainer u-NavSite__item--art" role="menuitem">
    <a class="u-NavSite__item" href="{{ site.url }}/art.html">Art</a>
  </li>
  <li class="u-NavSite__itemContainer u-NavSite__item--about" role="menuitem">
    <a class="u-NavSite__item" href="{{ site.url }}/bio.html">Bio</a>
  </li>
</ul>