<!DOCTYPE html>
<!--  
Author: Jeff Macaluso
Author URI: http://jeffmacaluso.com/
Description: Simple 3 column responsive theme with menu below main content. Web development credit and a huge amount of gratitude to my colleague and mentor Raymond Schwartz (@skeeter).
-->
<html class="no-js {{ page.layout }}" lang="en-US">
<head>
  <script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["{{ site.url }}/css/style-svg.minified.css", "{{ site.url }}/css/style-png.minified.css", "{{ site.url }}/css/style-fallback.minified.css"]);
    </script>
  <noscript><link href="{{ site.url }}/css/style-fallback.minified.css" rel="stylesheet"></noscript>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Jeff Macaluso {{ page.title }}</title>

  <link rel="apple-touch-icon" href="{{ site.url }}/images/favicon-512.png">
  <link rel="icon" href="{{ site.url }}/images/favicon-128.png">
  <!--[if IE]><link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.url }}/images/favicon-512.png">

  <meta property="og:title" content="Jeff Macaluso" />
  <meta property="og:description" content="Web designer. Artist" />
  <meta property="og:image" content="{{ site.url }}/images/favicon-512.png" />

  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7362032/783882/css/fonts.css" />

  <!--[if (gte IE 8)&(lt IE 9)]>
    <link href="{{ site.url }}/css/style.ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if (gte IE 9)|(lt IE 8)]><!-->
    <!-- <link href="{{ site.url }}/css/style.minified.css" rel="stylesheet" type="text/css" /> -->
  <!--<![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3269732-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>