<!DOCTYPE html>

<!--  
Author: Jeff Macaluso
Author URI: http://jeffmacaluso.com/
Description: Simple responsive theme with menu below main content.
-->

<html class="no-js {{ page.layout }} {{ page.bodyClass }}" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["{{ site.url }}/css/style-svg.minified.css", "{{ site.url }}/css/style-png.minified.css", "{{ site.url }}/css/style-fallback.minified.css"]);
    </script>
  <noscript><link href="{{ site.url }}/css/style-fallback.minified.css" rel="stylesheet"></noscript>

  <!--[if (gte IE 8)&(lt IE 9)]>
    <link href="{{ site.url }}/css/style.ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->

  <title>{{ page.title }} - Jeff Macaluso</title>

  <link rel="apple-touch-icon" href="http://jeffmacaluso.com/images/favicon-512.png">
  <link rel="icon" href="http://jeffmacaluso.com/images/favicon-128.png">
  <!--[if IE]><link rel="shortcut icon" href="http://jeffmacaluso.com/images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="http://jeffmacaluso.com/images/favicon-512.png">

  <meta name="keywords" content="{{ page.categories | join:', ' }}">
  <meta name="description" content="{{ page.description }}">

  <meta property="og:url" content="http://jeffmacaluso.com/{{ page.ogpath }}" />
  <meta property="og:title" content="Jeff Macaluso - {{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="http://jeffmacaluso.com/images/{{ page.ogimage }}" />
  <meta property="og:image:width" content="{{ page.ogimageWidth }}" />
  <meta property="og:image:height" content="{{ page.ogimageHeight }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sjmaq">
  <meta name="twitter:creator" content="@sjmaq">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="http://jeffmacaluso.com/images/{{ page.imageThumb }}">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3269732-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
