{% include top.html %}

<body class="{{ page.bodyClass }}" id="top">
  <a class="ac-hiddenVisually ac-skipLink" href="#targetnavigation">skip to navigation (press enter key)</a>
  <a class="ac-NavAnchor ac-NavAnchor--menu icon icon-Menu" href="#navigation"><b class="u-lVisuallyHidden">menu</b></a>
  
  {% include header.html %}

  <div class="u-lMain" role="main">
    <div class="u-lContent">

      {{ content }}

    </div>
    <div class="u-lAside">

    {% case page.aside %}
      {% when 'bio' %}
        {% include aside-bio.html %}
      {% when 'art' %}
        {% include aside-art.html %}
      {% when 'design' %}
        {% include aside-design.html %}
      {% else %}
        {% include aside.html %}
    {% endcase %}

    </div>
  </div>

  {% include navigation.html %}

  {% include footer.html %}

</body>
</html>